<mat-card>
    <mat-card-title>{{ clip.clipName }}</mat-card-title>
    <mat-card-subtitle>
        {{clip.clipTimeStart?.format('MM/DD/YYYY hh:mm:ss a')}}
        {{clip.clipTimeStart && clip.clipTimeEnd ? ' - ' : ''}}
        {{clip.clipTimeEnd?.format('MM/DD/YYYY hh:mm:ss a')}}
    </mat-card-subtitle>
    <mat-card-content>
        <div gdGap="1rem" gdColumns="auto 1fr">
            <h4 style="margin:7px 0">People:</h4>
            <mat-chip-list [selectable]="true" [multiple]="true">
                <mat-chip
                    *ngFor="let person of clip.persons"
                    [value]="person.personId"
                >
                    {{ person.personName }}
                </mat-chip>
            </mat-chip-list>
            <h4 style="margin:7px 0">Collections:</h4>
            <mat-chip-list [selectable]="true" [multiple]="true">
                <mat-chip
                    *ngFor="let collection of clip.collections"
                    [value]="collection.collectionId"
                >
                    {{ collection.collectionName }}
                </mat-chip>
            </mat-chip-list>
<!--            <h4 *ngIf="clip.c" style="margin:4px 0">-->
<!--                Media Creation Date:-->
<!--            </h4>-->
<!--            <span *ngIf="source.sourceDateCreated" style="margin:4px 0">{{-->
<!--              source.sourceDateCreated.format('MMMM Do YYYY, h:mm:ss a')-->
<!--                }}</span>-->

<!--            <h4 *ngIf="source.sourceDateImported" style="margin:4px 0">-->
<!--                Import Date:-->
<!--            </h4>-->
<!--            <span *ngIf="source.sourceDateImported" style="margin:4px 0">{{-->
<!--              source.sourceDateImported.format('MMMM Do YYYY, h:mm:ss a')-->
<!--                }}</span>-->
        </div>
    </mat-card-content>
</mat-card>
