// Local docs variables
$whvm-primary:        $blue !default;
$whvm-primary-bright: lighten(saturate($whvm-primary, 5%), 15%) !default;
$whvm-primary-light:  lighten(saturate($whvm-primary, 5%), 45%) !default;
$whvm-dark:          #30373f !default;
$whvm-download:      #ffe484 !default;
$whvm-info:          #5bc0de !default;
$whvm-warning:       #f0ad4e !default;
$whvm-danger:        #d9534f !default;

// Enable responsive font sizes for font sizes defined in the docs
// The weird if test is made as a workaround to prevent a false fusv error.
//
// stylelint-disable-next-line scss/dollar-variable-default
$enable-responsive-font-sizes: if($enable-responsive-font-sizes, true, true);