@model WHVM.Database.Models.Source

@{
    Layout = "Layouts/_Layout_Sidebar";
}

@section Body{
    <form id="EditSource" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SourceId" />
        <div class="form-group">
            <label asp-for="SourceName" class="control-label">Label</label>
            <input asp-for="SourceName" class="form-control" />
            <span asp-validation-for="SourceName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SourceDateCreated" class="control-label">Date Created</label>
            <div class='input-group date'>
                <input type="text" asp-for="SourceDateCreated" class="form-control" id="datetimepickerCreated" runat="server" ClientIDMode="Static" />
                <div class="input-group-append" data-target="#datetimepickerCreated" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SourceDateImported" class="control-label">Date Imported</label>
            <div class='input-group date'>
                <input type="text" asp-for="SourceDateImported" class="form-control" id="datetimepickerImported" runat="server" ClientIDMode="Static" />
                <div class="input-group-append" data-target="#datetimepickerImported" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SourceFormatId" class="control-label">Original Media Format</label>
            <span asp-validation-for="SourceFormatId" class="text-danger"></span>
            <div>
                <div class="btn-group btn-group-toggle" id="SourceFormatSelector" data-toggle="buttons">
                    @foreach (SourceFormat format in (List<SourceFormat>)ViewData["AllSourceFormats"])
                    {
                        <label class="btn btn-secondary" name="radio-@format.SourceFormatId">
                            <input type="radio" asp-for="SourceFormatId" name="SourcesFormatId" id="sourceFormats_@format.SourceFormatId" value="@format.SourceFormatId" autocomplete="off" /> @format.SourceFormatName
                        </label>
                    }
                </div>
            </div>
        </div>
    </form>

}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial").ConfigureAwait(false);}

    <script type="text/javascript">
        $(document).ready(function () {
            var dateTimePickerOpts = {
                icons: {
                    time: 'mi mi-Clock',
                    date: 'mi mi-Calendar',
                    up: 'mi mi-Up',
                    down: 'mi mi-Down',
                    previous: 'mi mi-ChevronLeft',
                    next: 'mi mi-ChevronRight',
                    today: 'mi mi-DateTime',
                    clear: 'mi mi-Delete',
                    close: 'mi mi-Clear'
                },
                format: 'M[/]D[/]YYYY hh[:]mm[:]ss A',
                extraFormats: ['YYYY[-]MM[-]DD[T]HH[:]mm[:]ss[.]SSSS']
            };

            $(document.getElementsByName("radio-@(Model.SourceFormatId)")[0]).addClass('active');
            $('#datetimepickerCreated').datetimepicker(dateTimePickerOpts);
            $('#datetimepickerImported').datetimepicker(dateTimePickerOpts);
        });

    </script>
}

