@model WHVM.Database.Models.Clip

@{
    Layout = "Layouts/_Layout_Sidebar";
}

@section Body{
    <h4>Clips</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ClipId" />
                <div class="form-group">
                    <label asp-for="SourceId" class="control-label"></label>
                    <select asp-for="SourceId" class="form-control" asp-items="ViewBag.SourceId"></select>
                    <span asp-validation-for="SourceId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClipNumber" class="control-label"></label>
                    <input asp-for="ClipNumber" class="form-control" />
                    <span asp-validation-for="ClipNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClipTimeStart" class="control-label"></label>
                    <input asp-for="ClipTimeStart" class="form-control" />
                    <span asp-validation-for="ClipTimeStart" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClipTimeEnd" class="control-label"></label>
                    <input asp-for="ClipTimeEnd" class="form-control" />
                    <span asp-validation-for="ClipTimeEnd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClipVidTimeStart" class="control-label"></label>
                    <input asp-for="ClipVidTimeStart" class="form-control" />
                    <span asp-validation-for="ClipVidTimeStart" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClipVidTimeEnd" class="control-label"></label>
                    <input asp-for="ClipVidTimeEnd" class="form-control" />
                    <span asp-validation-for="ClipVidTimeEnd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClipReviewer.PersonName" class="control-label"></label>
                    <input asp-for="ClipReviewer.PersonName" class="form-control" />
                    <span asp-validation-for="ClipReviewer.PersonName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClipCameraOperator.PersonName" class="control-label"></label>
                    <input asp-for="ClipCameraOperator.PersonName" class="form-control" />
                    <span asp-validation-for="ClipCameraOperator.PersonName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClipName" class="control-label"></label>
                    <input asp-for="ClipName" class="form-control" />
                    <span asp-validation-for="ClipName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

}

@section LayoutSidebarScripts {
    @{/*await Html.RenderPartialAsync("_ValidationScriptsPartial").ConfigureAwait(false);*/}
}