@page
@model WHVM_Razor.Pages.Clips.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Clip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Clip.ClipId" />
            <div class="form-group">
                <label asp-for="Clip.ChapterId" class="control-label"></label>
                <select asp-for="Clip.ChapterId" class="form-control" asp-items="ViewBag.ChapterId"></select>
                <span asp-validation-for="Clip.ChapterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clip.ClipNumber" class="control-label"></label>
                <input asp-for="Clip.ClipNumber" class="form-control" />
                <span asp-validation-for="Clip.ClipNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clip.ClipTimeStart" class="control-label"></label>
                <input asp-for="Clip.ClipTimeStart" class="form-control" />
                <span asp-validation-for="Clip.ClipTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clip.ClipTimeEnd" class="control-label"></label>
                <input asp-for="Clip.ClipTimeEnd" class="form-control" />
                <span asp-validation-for="Clip.ClipTimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clip.ClipVidTimeStart" class="control-label"></label>
                <input asp-for="Clip.ClipVidTimeStart" class="form-control" />
                <span asp-validation-for="Clip.ClipVidTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clip.ClipVidTimeEnd" class="control-label"></label>
                <input asp-for="Clip.ClipVidTimeEnd" class="form-control" />
                <span asp-validation-for="Clip.ClipVidTimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clip.ClipVidTimeLength" class="control-label"></label>
                <input asp-for="Clip.ClipVidTimeLength" class="form-control" />
                <span asp-validation-for="Clip.ClipVidTimeLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clip.ClipReviewer" class="control-label"></label>
                <input asp-for="Clip.ClipReviewer" class="form-control" />
                <span asp-validation-for="Clip.ClipReviewer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clip.CameraOperator" class="control-label"></label>
                <input asp-for="Clip.CameraOperator" class="form-control" />
                <span asp-validation-for="Clip.CameraOperator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clip.Description" class="control-label"></label>
                <input asp-for="Clip.Description" class="form-control" />
                <span asp-validation-for="Clip.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
