<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
    >
        <mat-toolbar style="padding-top:8px">Menu</mat-toolbar>
        <mat-nav-list *ngFor="let siteSection of siteSections">
            <a mat-list-item href="#" routerLink="{{siteSection.link}}">{{siteSection.name}}</a>
        </mat-nav-list>
      <mat-nav-list style="bottom:0; position: absolute">
        <app-theme-picker-mobile></app-theme-picker-mobile>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="mat-elevation-z6">
            <nav
                class="app-navbar-header"
                *ngIf="isHandset$ | async; else elseBlock"
            >
                <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                >
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <a
                    class="mat-button"
                    routerLink="/"
                    aria-label="siteTitle"
                    aria-disabled="false"
                >
                    {{ siteTitle }}
                </a>
            </nav>
            <ng-template #elseBlock>
                <nav class="app-navbar-header">
                    <a
                        class="mat-button"
                        routerLink="/"
                        aria-label="siteTitle"
                        aria-disabled="false"
                    >
                        <div class="title-text">
                            <mat-icon
                                class="mat-icon material-icons mat-icon-no-color"
                                role="img"
                                aria-hidden="true"
                                style="margin-right:4px;"
                            >
                                video_library_fill</mat-icon
                            >
                            <span>{{ siteTitle }}</span>
                        </div>
                    </a>
                  <div *ngFor="let siteSection of siteSections">
                    <a class="mat-button" aria-disabled="false" href="#" routerLink="{{siteSection.link}}">{{siteSection.name}}</a>
                  </div>
                    <div class="flex-spacer"></div>
                    <app-theme-picker></app-theme-picker>
                </nav>
            </ng-template>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
