mat-sidenav-container {
    height: 100%;

    & > mat-sidenav {
        width: 200px;

        & mat-toolbar {
            background: inherit;
            padding-top: 8px;
        }
    }
}

mat-toolbar {
    &.mat-primary {
        position: sticky;
        top: 0;
        z-index: 3;
        padding: 0;
        left: 0;
        right: 0;
        height: auto;
    }

    & nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 8px 16px;
        flex: 1 1 auto;
    }
}

.flex-spacer {
    flex-grow: 1;
}

.title-text {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}
