<mat-sidenav-container>
    <mat-sidenav
      #drawer
      fixedInViewport
      [attr.role]="isHandset ? 'dialog' : 'navigation'"
      [mode]="isHandset ? 'over' : 'side'"
    >
        <mat-toolbar style="">Menu</mat-toolbar>
        <mat-nav-list>
            <a
                mat-list-item
                href="#"
                [routerLink]="[
                    { outlets: { primary: ['library'], sidebar: ['library'] } }
                ]"
            >
                Library
            </a>
        </mat-nav-list>
        <mat-nav-list style="bottom:0; position: absolute">
            <app-theme-picker-mobile></app-theme-picker-mobile>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="mat-elevation-z3">
            <nav *ngIf="isHandset; else elseBlock">
                <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                >
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <a
                    class="mat-button"
                    routerLink="/"
                    aria-label="siteTitle"
                    aria-disabled="false"
                >
                    {{ siteTitle }}
                </a>
            </nav>
            <ng-template #elseBlock>
                <nav>
                    <a
                        class="mat-button"
                        routerLink="/"
                        aria-label="siteTitle"
                        aria-disabled="false"
                    >
                        <div class="title-text">
                            <mat-icon
                                class="mat-icon material-icons mat-icon-no-color"
                                role="img"
                                aria-hidden="true"
                                style="margin-right:4px;"
                            >
                                video_library_fill
                            </mat-icon>
                            <span>{{ siteTitle }}</span>
                        </div>
                    </a>
                    <div *ngFor="let siteSection of siteSections">
                        <a
                            class="mat-button"
                            aria-disabled="false"
                            href="#"
                            routerLink="{{ siteSection.link }}"
                        >{{ siteSection.name }}</a
                        >
                    </div>
                    <div class="flex-spacer"></div>
                    <app-theme-picker></app-theme-picker>
                </nav>
            </ng-template>
        </mat-toolbar>
        <!--        <app-page-header-->
        <!--            *ngIf="pageTitle !== undefined"-->
        <!--            [pageTitle]="pageTitle"-->
        <!--        ></app-page-header>-->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
