@{
    Layout = "Layouts/_Layout";
}

<div class="row flex-xl-nowrap" >
    <div class="col-12 col-md-4 col-lg-3 col-xl-2 whvm-sidebar d-flex flex-column">
        <h2>@ViewData["Title"]</h2>

        @if (IsSectionDefined("SidebarContent"))
        {
            @await RenderSectionAsync("SidebarContent").ConfigureAwait(false)
        }
        else
        {
            // default content
        }
    </div>

    <main class="col-12 col-md-8 col-lg-9 col-xl-10 px-md-3 whvm-content" role="main">
        @if (IsSectionDefined("Body"))
        {
            @await RenderSectionAsync("Body").ConfigureAwait(false)
        }
        else
        {
            // default content
        }
    </main>
</div>

@section LayoutScripts{
    @if (IsSectionDefined("LayoutSidebarScripts"))
    {
        await RenderSectionAsync("LayoutSidebarScripts").ConfigureAwait(false);
    }
    else
    {
        // default content
    }
}