@model WHVM_MVC.Models.Clip

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Clip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClipId" class="control-label"></label>
                <input asp-for="ClipId" class="form-control" />
                <span asp-validation-for="ClipId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceId" class="control-label"></label>
                <select asp-for="SourceId" class ="form-control" asp-items="ViewBag.SourceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClipNumber" class="control-label"></label>
                <input asp-for="ClipNumber" class="form-control" />
                <span asp-validation-for="ClipNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClipTimeStart" class="control-label"></label>
                <input asp-for="ClipTimeStart" class="form-control" />
                <span asp-validation-for="ClipTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClipTimeEnd" class="control-label"></label>
                <input asp-for="ClipTimeEnd" class="form-control" />
                <span asp-validation-for="ClipTimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClipVidTimeStart" class="control-label"></label>
                <input asp-for="ClipVidTimeStart" class="form-control" />
                <span asp-validation-for="ClipVidTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClipVidTimeEnd" class="control-label"></label>
                <input asp-for="ClipVidTimeEnd" class="form-control" />
                <span asp-validation-for="ClipVidTimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClipReviewer.PeopleName" class="control-label"></label>
                <input asp-for="ClipReviewer.PeopleName" class="form-control" />
                <span asp-validation-for="ClipReviewer.PeopleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClipCameraOperator.PeopleName" class="control-label"></label>
                <input asp-for="ClipCameraOperator.PeopleName" class="form-control" />
                <span asp-validation-for="ClipCameraOperator.PeopleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClipDescription" class="control-label"></label>
                <input asp-for="ClipDescription" class="form-control" />
                <span asp-validation-for="ClipDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClipFilePath" class="control-label"></label>
                <input asp-for="ClipFilePath" class="form-control" />
                <span asp-validation-for="ClipFilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial").ConfigureAwait(false);}