@page "/clips"
@inject WHVM.Web.Blazor.Services.ApiService apiService
@using WHVM.Database.Models

@if (clips == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="15" AllowSorting="true" Data="@clips" TItem="Clip">
        <Columns>
            <RadzenGridColumn TItem="Clip" Property="ClipId" Title="ID" Width="56px" />
            <RadzenGridColumn TItem="Clip" Property="ClipNumber" Title="#" Width="56px" />
            <RadzenGridColumn TItem="Clip" Property="ClipName" Title="Name" />
        </Columns>
    </RadzenGrid>
    @*<table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var clip in clips)
        {
            <tr>
                <td>@clip.ClipId</td>
                <td>@clip.ClipName</td>
            </tr>
        }
        </tbody>
    </table>*@
}

@code {

    IEnumerable<Clip>
    clips;

    protected override async Task OnInitializedAsync()
    {
        clips = await apiService.GetClipsAsync();
    }

}