@using System.Net
@using Microsoft.AspNetCore.Html

<div class="modal-content">
<div class="modal-header d-flex align-items-center">
    <div class="p-0"></div>
    <div class="p-0"><h4 class="modal-title">@ViewBag.modalTitle</h4></div>
    <div class="p-0 ml-auto">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" title="Close" data-toggle="tooltip">
            <i class="fas fa-times"></i>
        </button>
    </div>
</div>
<div class="modal-body">
    Test
</div>
</div>