@using System.Net
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Routing
<div class="modal-content">
    <div class="modal-header d-flex align-items-center">
        <div class="p-0"></div>
        <div class="p-0"><h4 class="modal-title">@ViewBag.modalTitle</h4></div>
        <div class="p-0 ml-auto">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" title="Close" data-toggle="tooltip">
                <i class="mi mi-Cancel"></i>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <b>Are you <i>sure</i> that you want to delete @(Model.SourceLabel)?</b>
        <p>This cannot be reversed.</p>
        <a href="#" class="btn btn-danger" id="deleteConfirmBtn" onclick="ajaxPost('@(Url.Action("Delete", ViewContext.RouteData.Values["controller"].ToString()))', {id: '@(Model.SourceId)', returnJson: true})" title="Delete" data-toggle="tooltip">Delete</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Cancel" title="Cancel" data-toggle="tooltip">Cancel</button>
    </div>
</div>