@using System.Net
@using Microsoft.AspNetCore.Html

<div class="modal-header d-flex align-items-center">
    <div class="p-0"></div>
    <div class="p-0"><h4 class="modal-title">@ViewBag.modalTitle</h4></div>
    <div class="p-0 ml-auto">
        <a asp-action="Edit" asp-route-id="@ViewBag.modelId" class="btn btn-primary" title="Edit" data-toggle="tooltip"><i class="fas fa-edit"></i></a>
        <a asp-action="Delete" asp-route-id="@ViewBag.modelId" class="btn btn-danger" title="Delete" data-toggle="tooltip"><i class="fas fa-trash"></i></a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" title="Close" data-toggle="tooltip">
            <i class="fas fa-times"></i>
        </button>
    </div>
</div>
<div class="modal-body">
    @{
        foreach (var (key, value) in (Dictionary<string, object>)ViewBag.modelDataDictionary)
        {
            <dl class="row">
                <dt class="col-2">
                    @key
                </dt>
                <dd class="col-sm">
                    @value
                </dd>
            </dl>
        }
    }

</div>