@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <div class="p-0">
                <h4 style="margin: 0">@(ViewContext.RouteData.Values["controller"].ToString())</h4>
            </div>
            <div class="p-0 ml-auto">
                @if (IsSectionDefined("ActionButtons"))
                {
                    @RenderSection("ActionButtons")
                }

            </div>
        </div>
        <div id="pageCardBody" class="card-body">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts
{
    @RenderSection("Scripts", required: false)
}