@{
    Layout = "Layouts/_Layout";
    ViewData["Title"] = ViewContext.RouteData.Values["controller"];
    ViewData["Subtitle"] = ViewContext.RouteData.Values["action"];
}
<div class="uk-grid  uk-grid-small uk-grid-divider " uk-grid>

            <!-- <div class="col-12 col-md-4 col-lg-3 col-xl-2 whvm-sidebar d-flex flex-column"> -->
            <div class="uk-visible@m uk-width-1 uk-width-1-3@m uk-width-1-4@l uk-width-1-5@xl" uk-height-viewport="expand: true" id="sidebar">
                <div uk-sticky="top: #navbar-main;offset: 80" uk-height-match>
                    <div class="uk-padding-small uk-height-1-1">
                        @if (IsSectionDefined("SidebarContent"))
                        {
                            @await RenderSectionAsync("SidebarContent").ConfigureAwait(false)
                        }
                        else
                        {
                            // default content
                        }
                    </div>
                </div>
            </div>

            @if (IsSectionDefined("Body"))
            {
                await RenderSectionAsync("Body").ConfigureAwait(false);
            }
            else
            {
                // default content
            }
        </div>

@section LayoutScripts{
    @if (IsSectionDefined("Scripts"))
    {
        await RenderSectionAsync("Scripts").ConfigureAwait(false);
    }
    else
    {
        // default content
    }
}